
body{
    margin: 0;
    padding: 0;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    height: 100vh;
    
}

.get-by-id{
    color: white;
    font-size: 1.5rem;
    background-color: rgba(255,255,255, 0.4);
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}
.white-color{
    color: white;
}

.bg-color-transparent{
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10px;
}